* {

  background-color: var(--background);
  font-family: var(--font);

  /* variables */
  --background: #22212C;
  --font: 'IBM Plex Mono', monospace;

  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #92FFFF;
  --purple: #9580FF;
  --green: #8AFF80;
  --white: #F8F8F2;
  --red: #FF9580;
  --yellow: #FFFF80;
  --pink: #FF80BF;
  --orange: #FFCA80;
  --disabled: #F8F8F2;

}

a {
  color: var(--orange);
  text-decoration: none;
}

a:hover {
  background-image: linear-gradient(to right, var(--cyan), var(--green));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  display: flex;
  justify-content: center;
}

.box {
}

.comment {
  color: var(--comment);
}

.donut {
  font-size: 14pt; 
  margin-top: 10%;
  font-weight: bold;
  /* margin: auto;  */
  /* width: 50%; */
  background-image: linear-gradient(to right, var(--cyan), var(--green));
  background-clip: text;
  -webkit-text-fill-color: transparent;

}

.gradient {
  background-image: linear-gradient(to right, var(--cyan), var(--green));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.host {
  font-size: 16pt;
  font-weight: bold;
  color: var(--orange);
}

input {
  border: none;
  outline: none;
}

.links {
  display: grid;
  margin-top: 75%;
}


.search{
  font-size: 16pt;
  caret-color:var(--orange);
  caret-shape: underscore;
  color: var(--white);
  margin-left: 0.5rem;
  font-weight: bold;
}

